extends layout

block content   
  if errors.systemErrors
    div #{errors.systemErrors}
  h1(class="h1")= title
  p(class="p") Welcome to #{title} page.
  form(action='/login/singin', method='post')
    label(for="userName") User: 
    if errors.formErrors
      if errors.formErrors.get("userName")
        label(for="userName" class="fnt--red brdr--off-white p1 my1") #{errors.formErrors.get("userName")}
    input(type='text', name='userName', value='')
    label(for="password") Password: 
    if errors.formErrors
      if errors.formErrors.get("password")
        label(for="password" class="fnt--red brdr--off-white p1 my1") #{errors.formErrors.get("password")}
    input(type='text', name='password', value='')
    input(type='submit', value='Submit')
    | New to us? 
    a(href="login/singup") Sign Up
    a(href="#" class="p1 my1" onclick="facebookLogin()") Sign Up with Facebook

    //- script.
    //-   window.fbAsyncInit = function() {
    //-     FB.init({
    //-       appId      : '166652330630100',
    //-       cookie     : true,
    //-       xfbml      : true,
    //-       version    : 'v2.9'
    //-     });
          
    //-     FB.AppEvents.logPageView();   
   
    //-   };

    //-   function facebookLogin(){
    //-     FB.login(statusChangeCallback, {scope: 'public_profile,email'})
    //-   }

    //-   function statusChangeCallback(response){
    //-     if(response.status === "connected"){
    //-       window.location.href = "http://localhost:3000/login/facebook?token=" + response.authResponse.accessToken;
    //-     }
    //-   }

    //-   (function(d, s, id){
    //-     var js, fjs = d.getElementsByTagName(s)[0];
    //-     if (d.getElementById(id)) {return;}
    //-     js = d.createElement(s); js.id = id;
    //-     js.src = "https://connect.facebook.net/en_US/sdk.js";
    //-     fjs.parentNode.insertBefore(js, fjs);
    //-   }(document, 'script', 'facebook-jssdk'));
